@model IEnumerable<GroceryShopAPIConsume.Models.OrderDetailModel>

<h3 style="margin-left:270px">User Table</h3>
<a asp-controller="Customer" asp-action="CustomerAddForm">
    <button style="margin-left:270px;margin-bottom:10px;" class="btn btn-primary">Add Data</button>
</a>
<table class="table table-hover table-bordered" style="width:80%;margin-left:270px">
    <thead>
        <tr>
            <th scope="col">OrderDetail ID</th>
            <th scope="col">Order ID</th>
            <th scope="col">Order Date</th>
            <th scope="col">CustomerID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var items in Model)
        {
            <tr>
                <td>@items.OrderDetailID</td>
                <td>@items.OrderID</td>
                <td>@items.CustomerID</td>
                <td>@items.CustomerName</td>
                <td>@items.Quantity</td>
                <td>@items.Amount</td>
                <td>@items.TotalAmount</td>
                <td>@items.Created</td>
                <td>@items.Modified</td>

                <td>
                    @* <a href="@Url.Action("Edit","Customer",new {CustomerID=items.CustomerID})"> *@
                    <button class="btn btn-success"><i class="bi bi-pencil"></i></button>
                   @* </a> *@
                </td>
                <td>
                     <a href="@Url.Action("Delete","OrderDetail",new {OrderDetailID=items.OrderDetailID})">
                        <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
