@model IEnumerable<GroceryShopAPIConsume.Models.CategoryModel>

<head>
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .table-container {
            padding: 20px;
        }

        .table thead {
            background-color: #f1f1f1;
        }

        .badge {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="container table-container">
        <h3 style="margin-left:130px">Category Table</h3>
        <a asp-controller="Category" asp-action="AddCategory">
            <button style="margin-left:130px;margin-bottom:10px;" class="btn btn-primary">Add Data</button>
        </a>
        <table class="table table-hover align-middle table-bordered" style="margin-left:120px">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.CateoryID</td>
                        <td>@items.CategoryName</td>
                        <td>@items.Created</td>
                        <td>@items.Modified</td>
                        <td>
                            <a href="@Url.Action("AddCategory","Category",new {CategoryID=items.CateoryID})">
                                <button class="btn btn-primary"><i class="bi bi-pencil"></i></button>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","Category",new {CategoryID=items.CateoryID})">
                                <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
