@model IEnumerable<GroceryShopAPIConsume.Models.SubCategoryModel>


<head>
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }

        .table-container {
            padding: 20px;
        }

        .table thead {
            background-color: #f1f1f1;
        }

        .badge {
            font-size: 14px;
            padding: 5px 10px;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class="container table-container">
        <h3 style="margin-left:130px">Sub Category Table</h3>
        <a asp-controller="SubCategory" asp-action="AddSubCategory">
            <button style="margin-left:130px;margin-bottom:10px;" class="btn btn-primary">Add Data</button>
        </a>
        <table class="table table-hover align-middle table-bordered" style="margin-left:120px">
            <thead>
                <tr>
                    <th>Sub Category ID</th>
                    <th>Sub Category Image</th>
                    <th>Sub Category Name</th>
                    
                    <th>Category Name</th>
                    @* <th>Created</th>
                    <th>Modified</th> *@
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.SubCategoryID</td>
                        <td><img src="@items.SubCategoryImage" height="100px" width="100px"></td>
                        <td>@items.SubCategoryName</td>
                        
                        <td><span class="badge bg-secondary">@items.CategoryName</span></td>
                        @* <td>@items.Created</td>
                        <td>@items.Modified</td> *@
                        <td>
                            <a href="@Url.Action("AddSubCategory","SubCategory",new {SubCategoryID=items.SubCategoryID})">
                                <button class="btn btn-primary"><i class="bi bi-pencil"></i></button>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","SubCategory",new {SubCategoryID=items.SubCategoryID})">
                                <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

